.depend
.gdb_history
.sdb_history
Makefile2
REPL.log
bsdtsort
build.c
callgraph
config.h
config.m4
config.sno
cpuid
data.c
data.c2
data.h
data.h2
data_init.h
data_init.h2
equ.h
equ.h2
host.sno
isnobol4.c
local-config
proc.h
proc.h2
res.h
res.h2
sdb
snobol4
snobol4.c
snopea
snopea.1
snopea.1.html
static.h
static.h2
syn.c
syn.h
syn.h2
syn_init.h
syn_init.h2
timing.out
timing.out*
version
version.h
with
xsnobol4
*.o
*~
doc/sdb.1
doc/sdb.1.html
doc/snobol4.1
doc/snobol4.1.html
doc/snobol4blocks.1
doc/snobol4blocks.1.html
doc/snobol4cmd.1
doc/snobol4cmd.1.html
doc/snobol4ctrl.1
doc/snobol4ctrl.1.html
doc/snobol4error.1
doc/snobol4error.1.html
doc/snobol4ext.1
doc/snobol4ext.1.html
doc/snobol4ezio.3
doc/snobol4ezio.3.html
doc/snobol4func.1
doc/snobol4func.1.html
doc/snobol4host.3
doc/snobol4host.3.html
doc/snobol4io.1
doc/snobol4io.1.html
doc/snobol4json.3
doc/snobol4json.3.html
doc/snobol4key.1
doc/snobol4key.1.html
doc/snobol4load.3
doc/snobol4load.3.html
doc/snobol4op.1
doc/snobol4op.1.html
doc/snobol4setup.3
doc/snobol4setup.3.html
doc/snolib.3
doc/snolib.3.html
doc/snopea.7
doc/snopea.7.html
modules/base64/base64.sno
modules/base64/base64.so
modules/base64/snobol4base64.3
modules/base64/snobol4base64.3.html
modules/digest/digest.sno
modules/digest/digest.so
modules/digest/snobol4digest.3
modules/digest/snobol4digest.3.html
modules/dirs/dirs.sno
modules/dirs/dirs.so
modules/dirs/snobol4dirs.3
modules/dirs/snobol4dirs.3.html
modules/ffi/ffi.sno
modules/ffi/ffi.so
modules/ffi/snobol4ffi.3
modules/ffi/snobol4ffi.3.html
modules/fork/fork.sno
modules/fork/fork.so
modules/fork/snobol4fork.3
modules/fork/snobol4fork.3.html
modules/logic/logic.sno
modules/logic/logic.so
modules/logic/snobol4logic.3
modules/logic/snobol4logic.3.html
modules/ndbm/ndbm.sno
modules/ndbm/ndbm.so
modules/ndbm/snobol4ndbm.3
modules/ndbm/snobol4ndbm.3.html
modules/random/random.sno
modules/random/random.so
modules/random/snobol4random.3
modules/random/snobol4random.3.html
modules/readline/readline.sno
modules/readline/readline.so
modules/readline/snobol4readline.3
modules/readline/snobol4readline.3.html
modules/sprintf/snobol4sprintf.3
modules/sprintf/snobol4sprintf.3.html
modules/sprintf/sprintf.sno
modules/sprintf/sprintf.so
modules/sqlite3/snobol4sqlite3.3
modules/sqlite3/snobol4sqlite3.3.html
modules/sqlite3/snobol4sqlite3dbm.3
modules/sqlite3/snobol4sqlite3dbm.3.html
modules/sqlite3/sqlite3.sno
modules/sqlite3/sqlite3.so
modules/stat/snobol4stat.3
modules/stat/snobol4stat.3.html
modules/stat/stat.sno
modules/stat/stat.so
modules/stcl/snobol4stcl.3
modules/stcl/snobol4stcl.3.html
modules/stcl/stcl.sno
modules/stcl/stcl.so
modules/time/snobol4time.3
modules/time/snobol4time.3.html
modules/time/time.sno
modules/time/time.so
modules/zlib/snobol4zlib.3
modules/zlib/snobol4zlib.3.html
modules/zlib/zlib.sno
modules/zlib/zlib.so
test/openo.tst
test/test.bin
tested
